body {
  background-color: rgb(230,230,230);
  font-family: 'Open sans', sans-serif;
  color: black;
  font-size: 20px;
  line-height: 1.2;
}

header {
  font-size: 10px;
  line-height: 1.0;
}

h1, h2{
  color: #24a19c;
  font-family: 'Roboto', sans-serif;
}

a{
  color: #df5e88;
  text-decoration: none;
}

a:hover{
  color: #05dfd7;
}
.container{
  width: 800px;
  margin: 0 auto;
}

.card{
  background-color: #f4f6ff;
  border: 2px solid pink;
  border-radius: 5px;
  box-shadow: 2px 2px 6px black;
  text-align: center;
  padding: 30px;
  margin: 30px;
}

.img-circle {
  border-radius: 50%;
  width: 100px;
}

.btn {
  background-color: #a6dcef;
  margin: 0px 130px 0px 130px;
  border-radius: 10px;
}

.list-inline{
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

@media (max-width: 1250px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 960px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 720px) {
    .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 400px;
  }
}

